* {
    font-family: Century Gothic, Calibri;   /*The font we use for the website*/
}

body {
    margin: 0;
}


/* CSS code for the navigation bar we made*/
.navbar {
    overflow: hidden;
    background-color: #333;
}
  
.navbar a {
    float: right;
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
  
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

#small_div {
    width: 90%;
  }
  
.navbar img {
    float: left;
    height: 82px;
    margin-left: 10%;
}
  
/* rest of page */
#main_div {
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    height: 100%;
    width: 60%;
}

h1 {
    text-align: center;
    font-size: 64px;
}
#divider {
    margin-bottom: 5%;
    width: 80%;
}

.content_bg {
    background-color: white;
    width: 100%;
    height: 100%;
}

#picture {
    float: left;
    width: 40%;
}

#cuteness li {
    margin-left: 4%;
    display: inline-block;
}

li img {
    height: 48px;
}

#info {
    float: right;
    width: 50%;
}

#pokedex_data {
    list-style-type: none;
    font-size: 24px;
}

#pokedex_data tr{
    display: inline-block;
    text-align: center;
}

.bold {
    font-weight: bold;
}

td img {
    height: 48px;
}

td {
    padding: 5px;
    padding-left: 50px;
}
