* {
  font-family: Century Gothic, Calibri;
}

body {
  margin: 0;
}

.navbar {
overflow: hidden;
background-color: #333;
}

.navbar a {
float: right;
font-size: 40px;
color: white;
text-align: center;
padding: 16px 16px;
text-decoration: none;
}

.dropdown {
float: left;
overflow: hidden;
}

.navbar a:hover, .dropdown:hover .dropbtn {
background-color: grey;
}

#small_div {
width: 90%;
}

.navbar img {
float: left;
height: 82px;
margin-left: 10%;
}

#cube{
overflow: hidden;
width: 400px;
background-color: rgb(223, 28, 28);
text-align: center;
}

#sub{
width: 30px;
overflow: hidden;
}

.myDropdown{
    display:none;
}

.Appear{
    position :relative;
    display: inline-block;
}

#colour{
    /*background-color: blue;*/
    display: inline-block;
    text-align: center;
    width: 25%;
    background-color: lightseagreen;
}

#blo{
height: 30px;
width: 25%;
text-align: center;
border-right:0.5px solid gray;
border-left:0.5px solid gray;
background-color: lightgray;
float: left;
width: min-content
}

#blo1{
    height: 30px;
    width: 12.5%;
    text-align: center;
    border-right:0.5px solid gray;
    border-left:0.5px solid gray;
    background-color: lightgray;
    float: left;
    width: min-content
    }

#Bar{
width: 80%;
/*background-color: lightslategray;*/
height: 10%;
height: 80px;
left: 10%;
position: fixed;
top: 15px;
}

#show{
    width:400%;
    /*background-color: mediumaquamarine;*/
}

#show1{
    width:400%;
    position:relative; 
    right:101.6%;
    /*background-color: mediumaquamarine;*/
}

.searchdiv{
    float: right;
    width: 25%;
    background-color: lightseagreen;
    height: 30px;
    position:absolute;
}

#Compdb{
    border-spacing: 0px;
    margin: auto;
    margin-top: 50px;
    display: inline;
    float: right;
}

#row2{
    background-color: #d3d3d3; 
}

th {
    background-color: black;
    opacity: 0.8;
    color: white;
    font-family: "Century gothic";
    text-align: left;
}

#avisit2{
    text-decoration: none;
    color: white;
}

#avisit{
  text-decoration: none;
  color: black;
}

#typeimg{
    height:25px;
    margin-top: 4px;
}

#formDiv{
    float:left;
    width: 300px;
}


    